<div class="popup">
    <header class="popup__header">
        <div class="popup__title">Невский пр., 78, Санкт-Петербург, 191025</div>
        <i class="popup__close"></i>
    </header>
    <div class="popup__content">
        <div class="popup__review">
            <div class="review">
                <header class="review__header">
                    <div class="review__author">Сергей</div>
                    <div class="review__place">Красный куб </div>
                    <div class="review__date">12.12.2015</div>
                    <div class="review__time">23:02:47</div>
                </header>
                <div class="review__content">Ужасное место! Кругом зомби!!!!</div>
            </div>
        </div>
        <form class="form">
            <div class="form__title">Ваш отзыв</div>
            <input type="text" class="form__input" placeholder="Ваше имя">
            <input type="text" class="form__input" placeholder="Укажите место">
            <textarea type="text" class="form__text-area" placeholder="Поделитесь впечатлениями"></textarea>
        </form>
    </div>
    <footer class="popup__footer">
        <button class="popup__send">Добавить</button>
    </footer>
</div>