.popup {
  border-radius: $popup-radius;
  background-color: #fff;
  width: 380px;
  box-sizing: border-box;
  text-align: initial;

  &__header {
    display: flex;
    align-items: center;
    background-color: $orange;
    padding: $popup-pudding;
    font-size: 12px;
    color: #fff;
    border-radius: $popup-radius $popup-radius 0 0;
  }

  &__location {
    width: 14px;
    height: 14px;
    background: url(../images/location.svg) center no-repeat;
    background-size: contain;
    margin-right: 5px;
  }

  &__close {
    width: 14px;
    height: 14px;
    background: url(../images/close.svg) center no-repeat;
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
      opacity: .6;
    }
  }

  &__content {
    padding: $popup-pudding $popup-pudding 0;
    margin-bottom: 15px;
  }

  &__review {
    height: 140px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(240, 240, 240);
  }

  &__footer {
    padding: 0 $popup-pudding $popup-pudding;
    border-radius: 0 0 $popup-radius $popup-radius;
    text-align: right;
  }

  &__send {
    border-radius: 10px;
    background-color: rgb(255, 134, 99);
    color: #fff;
    padding: 7px 15px;
  }
}
