.review {
  font-size: 16px;
  color: $dark-grey;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    margin-bottom: 18px;
  }

  &__author {
    margin-right: 10px;
  }

  &__date,
  &__time,
  &__place {
    margin-right: 5px;
    font-size: 14px;
    color: $grey;

    &:last-child {
      margin-right: 0;
    }
  }

  &__place {
    font-size: 16px;
  }
}
